<div
  role="alert"
  class="rounded-xl border border-gray-100 p-4 shadow-xl dark:border-gray-800"
>
  <div class="flex items-start gap-4">
    <span class="text-green-600">
      <%= render HyperUIComponent::Icon.new("check-circle") %>
    </span>

    <div class="flex-1">
      <strong class="block font-medium text-gray-900 dark:text-white">
        Changes saved
      </strong>

      <p class="mt-1 text-sm text-gray-700 dark:text-gray-200">
        Your product changes have been saved.
      </p>

      <% if actions? %>
      <div class="mt-4 flex gap-2">
        <% actions.each do |action| %>
          <%= action %>
        <% end %>
      </div>
      <% end %>
    </div>
    <button
      class="text-gray-500 transition hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-500"
    >
      <span class="sr-only">Dismiss popup</span>

      <%= render HyperUIComponent::Icon.new("x") %>
    </button>
  </div>
</div>
